{% extends "home/base.html" %}
{% block content %}

<style>
    body {
        background-color: #e9e4e4;
    }

</style>

    <div class="updates-page">
        <div class="text-center updates-title-section">
            {% if topic_items != 0 %}
            <div class="updates-title">
                <h1>Site Updates</h1>
                <h3 class="updates-header-count">{{topic_items}}</h3>
            </div>

            {% else %}
                <div class="text-center updates-title">
                    <h1>Site Updates</h1>
                    <h3 class="updates-header-count">{{topic_items}}</h3>
                </div>
                <p>Unfortunatly we do not have any updates matching your search parameters.</p>
                <p>Please try again or simply select the topic you wish to search from the available options.</p>
            {% endif %}
        </div>

        <div class="d-lg-flex">
            <div class="full-search-container">
                <div class="topic-filter-container">
                    <div class="col-9 search-container">
                        <form class="m-2" method="GET" action="{% url 'all-admin-updates' %}">
                            <input type="text" name="q" placeholder="Search Updates" />
                        </form>
                    </div>
    
                    <div class="col topic-dropdown-icon-container">
                        <i onclick="filterToggle()" class="fa-regular fa-square-caret-down"></i>
                    </div>
                </div>

                <div class="topic-selections" id="filter-updates">

                    <div class="row mx-0 mb-3">
                        <div class="col-9 topic-titles">
                            <a href="{% url 'all-admin-updates' %}">All Topics</a>
                        </div>
                        <div class="col topic-numbers">
                            <div class="topic-number">{{ all_published_updates.count }}</div>
                        </div>
                    </div>

                    {% for topic in topics %}

                        <div class="row mx-0 mb-3">
                            <div class="col-9 topic-titles">
                                <a href="{% url 'all-admin-updates' %}?q={{ topic.topic_catagory }}">{{ topic }}</a>
                            </div>
                            <div class="col topic-numbers">
                                <div class="topic-number">{{ topic.update_set.all.count }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="w-100 mt-4 mt-lg-0">
                {% if topic_items != 0 %}
                    {% for update in updates %}
                    <div class="bg-light update-card mb-4 mx-3">
                        <a href="{% url 'admin-update-detail' update.id %}">
                            <div class="p-4 all-updates-card-body">
                                <h4 class="text-center"><strong>{{ update.topic }}:</strong> {{ update.title }}</h4>
                                <h6 class="text-center">Posted: {{ update.published_on|timesince }} ago</h6>
                                <hr>
                                <p class="text-center">{{ update.content }}</p>
                                {% if update.update_image %}
                                    <div class="update-picture-container">
                                        <div class="update-picture">
                                            <img src="{{ update.update_image.url }}">
                                        </div>
                                    </div>
            
                                {% endif %}
                            </div>
                        </a>
                        <div class="update-card-footer">
                            {% if update.updatecomment_set.all.count == 0 %}
                                <a class="text-decoration-none" href="{% url 'admin-update-detail' update.id %}">
                                    <small><strong><i class="fa-regular fa-comment"></i></strong>&nbsp;{{ update.updatecomment_set.all.count }}</small>
                                </a>
                            {% else %}
                                <a class="text-decoration-none" href="{% url 'admin-update-detail' update.id %}">
                                    <small><strong><i class="fa-solid fa-comment"></i></strong>&nbsp;{{ update.updatecomment_set.all.count }}</small>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                {% else %}

                    <div class="topic-not-found-img-container">
                        <img class="topic-not-found-img" src="https://django-travel-app.s3.eu-west-2.amazonaws.com/images/topic-not-found-cropped.jpg" alt="">
                    </div>
                    <!-- <div class="update-container not-found-img"></div> -->
                {% endif %}
            </div>
        </div>

        {% if updates.has_other_pages %}
            <nav class="buffer-site-updates">
                <ul class="pagination justify-content-center mt-3">
                    {% if updates.has_previous %}
                        <li>
                            <a class="page-link" href="?page={{ updates.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link" aria-hidden="true">&laquo;</span>
                        </li>
                    {% endif %}

                    {% for update in updates.paginator.page_range %}
                    {% if updates.number == update %}
                        <li class="page-item active-page-item"><a class="page-link active-page-link" href="#"><strong>{{ update }}</strong></a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ update }}">{{ update }}</a></li>
                    {% endif %}
                    {% endfor %}

                    {% if updates.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ updates.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link" aria-hidden="true">&raquo;</span>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% else %}
            <div class="buffer-site-updates"></div>
        {% endif %}
    </div>
       
       
<script>
    const filterTopics = document.getElementById("filter-updates");

    function filterToggle() {
        if (filterTopics.style.display === "none") {
                filterTopics.style.display = "block";
            } else {
                filterTopics.style.display = "none";
            }
        }
    document.getElementById("filter-updates").style.display = "none";

</script>

{% endblock content %}



