{% extends "home/base.html" %}
{% block content %}

<style>
    body {
        background-color: #e9e4e4;
    }

    .updates-page {
        margin: 40px 10px 20px 10px;
    }

    .updates-title-section {
        color: rgb(6, 68, 103);
    }

    .update-container {
        border: 1px solid rgb(6, 68, 103);
        box-shadow: 10px 10px 5px grey;
        color: rgb(6, 68, 103);
        background-color: white;
        margin: 5px;
    }

    .update-container a {
        text-decoration: none;
        color: rgb(6, 68, 103);
    }

    .update-container-title {
        display: flex;
    }

    .profile-img-update {
        height: 65px;
        width: 65px;
        margin-right: 16px;
        border-radius: 50%;
        margin: 5px;
    }

    .update-picture-container{
        margin: 0 20px 20px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .update-picture-container img{
        width: 200px;
    }

    .update-picture-container p{
        text-align: justify;
    }

    .pagination-section {
        margin: 0 0 100px 30px;
    }

    nav {
        margin-bottom: 100px;
    }




</style>


<div class="row updates-page">
    <div class="text-center updates-title-section">
        <h1>Site Updates</h1>
        <p>The below posts detail the exciting updates out team are making to this ever evolving site.</p>
        <p>We strongly encourage you to feedback on these updates by selecting the update and leaving us a comment.</p>
    </div>

    <div class="col-8">
        {% for update in updates %}
            {% if update.status == 1 %}
            <div class="update-container">
                <div class="update-container-title">

                    <img class="profile-img-update" src="/static/images/default_flag.png" alt="">

                    <div class="ms-3">
                        <a href="{% url 'admin-update-detail' update.id %}"><h3>{{ update.title }}</h3></a>
                        <div>
                            <h5>{{ update.topic}}</h5>
                            <small><strong>Date Posted:</strong> {{ update.published_on|date:"dS F Y (P)" }}</small>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="update-body">
                    <p class="p-3">{{ update.content }}</p>
                    {% if update.update_image %}
                        <div class="update-picture-container">
                            <div class="update-picture">
                                <img src="{{ update.update_image.url }}">
                            </div>
                        </div>

                    {% endif %}
                    <div class="m-3">
                        {% if update.updatecomment_set.all.count == 0 %}
                            <small><strong><i class="fa-regular fa-comment"></i></strong>&nbsp;{{ update.updatecomment_set.all.count }}</small>
                        {% else %}
                            <small><strong><i class="fa-solid fa-comment"></i></strong>&nbsp;{{ update.updatecomment_set.all.count }}</small>
                        {% endif %}

                    </div>
                </div>

            </div>
            {% endif %}
        

        {% endfor %}

    </div>
    <div class="col-4 bg-success">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit mollitia voluptatem, dolores repellendus expedita a quia provident optio necessitatibus ullam autem adipisci maiores impedit debitis doloribus repudiandae dolor incidunt voluptatibus delectus non numquam culpa, commodi sapiente? Minima, blanditiis quibusdam laboriosam repudiandae delectus autem porro pariatur necessitatibus tempore consectetur reiciendis laudantium?

    </div>
</div>

{% for update in updates %}


{% endfor %}

<style>

/* PAGINATION */
    .page-item {
        z-index: 0;
    }

    .page-link {
        z-index: 0;
    }

    .active-page-link {
        color: rgb(6, 68, 103);
        text-decoration: underline;
    }

    .page-link:focus {
        box-shadow: None;
    }

</style>


{% if updates.has_other_pages %}
    <nav>
      <ul class="pagination justify-content-center">
        {% if updates.has_previous %}
          <li>
            <a class="page-link" href="?page={{ posts.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
              <span class="page-link" aria-hidden="true">&laquo;</span>
          </li>
        {% endif %}

        {% for update in updates.paginator.page_range %}
          {% if updates.number == update %}
            <li class="page-item active-page-item"><a class="page-link active-page-link" href="#"><strong>{{ update }}</strong></a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ update }}">{{ update }}</a></li>
          {% endif %}
        {% endfor %}

        {% if updates.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ updates.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link" aria-hidden="true">&raquo;</span>
          </li>
        {% endif %}
    </ul>
    </nav>
  {% endif %}

{% endblock content %}

        
