{% extends "home/base.html" %}
{% load crispy_forms_tags %}

<!-- main block code -->
{% block content %}

<style>
    body {
        background-color: rgb(6, 68, 103);
    }
    .top-div {
        margin-top: 50px;
    }

    .test-border {
        border: 2px solid rgb(255, 0, 0);
    }

    .update-card-comment-page {
        margin: 0 20px;
        height: calc(100%);
        width: calc(100% - 40px);
        color: white;
        overflow-y: auto;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .update-card-title {
        text-align: center;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .update-card-img-section {
        max-height: 200px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .update-detail-img {
        height: 100%;
    }

    .update-card-comment-btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .update-card-comment-btn .btn {
        width: 150px;
        background-color: white;
        color: rgb(6, 68, 103);
        font-weight: 700;
        margin: 10px;
    }


    .comment-form-section, .comment-card {
        margin: 10px;
        padding: 15px;
        border: 1px solid rgb(6, 68, 103);
        box-shadow: 10px 10px 10px rgb(42, 41, 41);
        color: rgb(6, 68, 103);
    }

    .comment-form-section {
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 5% 0;
    }

    .comment-form-section .btn {
        width: 180px;
        background-color: rgb(6, 68, 103);
        color: white;
        font-weight: 700;
    }

    .comment-card {

        border-radius: 10px;
        background-color: rgba(255, 255, 255);
    }

    .comment-card h5 {
        font-weight: 700;
        text-decoration: underline;
    }

    .comment-card img {
        width: 200px;
        height: 200px;
    }

    .comments-section {
        margin-bottom: 80px;
    }

</style>

<div class="container-fluid top-div">
    <div class="row">
        <div class="col-12 col-lg-8 p-0">
            <div class="update-card-comment-page">
                <div class="update-card-title">
                    <h1 class="m-0 p-1">{{ update.title }}</h1>
                    <hr>
                </div>

                <div class="update-card-content p-3 text-center">
                    <div><h5>{{ update.topic }}</h5></div>
                    <hr>
                    <div>{{ update.content }}</div>
                </div>

                {% if update.update_image %}
                    <div class="update-card-img-section">
                        <img class="update-detail-img" src="{{ update.update_image.url }}" alt="">
                    </div>
                {% endif %}

                <div class="update-card-posted-date p-3 text-center">
                    <hr>
                    <div><strong>PUBLISHED ON: </strong>{{ update.published_on|date:"dS F Y (P)" }}</div>
                    {% if update.updated_on %}
                        <div><strong>UPDATED ON: </strong>{{ update.updated_on|date:"dS F Y (P)" }}</div>
                    {% endif %}
                </div>

                <div class="update-card-comment-btn">
                    <a class="btn" href="">Add Comment</a>
                </div>
            </div>
        </div>
    
        <div class="d-none d-lg-inline col">
            <div class="comment-form-section">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Add Comment</legend>
                        {{ comment_form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-comment-submit" type="submit">Submit Comment</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="comments-section">
    <hr class="text-light">
    <h3 class="text-center text-light">COMMENTS</h3>
    {% for comment in comments %}
        <div class="comment-card">
            <h5>{{ comment.title }}</h5>
            {% if comment.created_on %}
                <div><small><strong>Posted:</strong> {{ comment.created_on|date:"dS F Y (P)" }}</small></div>
            {% endif %}
            {% if comment.updated_on %}
                <div><small><strong>Updated:</strong> {{ comment.updated_on|timesince }} ago</small></div>
            {% endif %}
            <hr>


            <p>{{ comment.comment }}</p>


            {% if comment.update_on %}
                <div class="update-card-img-section">
                    <img class="update-detail-img" src="{{ comment.comment_image.url }}" alt="">
                </div>
                <img src="{{ comment.comment_image.url }}" alt="">
                {{ comment.comment_image }}
            {% endif %}



            {% if comment.action_taken %}
                <div><strong>ACTION TAKEN: </strong>{{ comment.action_taken }}</div>
            {% endif %}

            {% if comment.action_image %}
                <div><strong>ACTION IMAGE: </strong>{{ comment.action_image }}</div>
            {% endif %}
            <hr>

            {% if comment.comment_status == 1 %}
                <div><strong>COMMENT STATUS: </strong>closed</div>
            {% else %}
                <div><strong>COMMENT STATUS: </strong>open</div>
            {% endif %}

            <hr>
            {% if user == comment.author %}
                <a class="btn btn-success" href="{% url 'comment-update' comment.pk %}">Update Comment</a>
                <a class="btn btn-danger" href="{% url 'comment-delete' comment.pk %}">Delete</a>
            {% endif %}        
        </div>

    {% endfor %}

</div>

{% endblock %}