{% extends "home/base.html" %}

<!-- style home background for this template -->
{% block additional_styles %}
    {% include 'home/snippets/home-styles.html' %}
{% endblock additional_styles %}

<!-- main block code -->
{% block content %}


    <div class="row m-0">
        <div class="d-none d-lg-block col-3 admin-updates-col-main">

            <div class="updates-intro">
                <h4 class="text-center">Latest Site Updates</h4>                
            </div>
            
            {% for update in updates %}
                <div class="update-container">
                    <h4 class="text-center">{{ update.title }}</h4>
                    <h6 class="text-center">Posted: {{ update.published_on|timesince }} ago</h6>
                    <hr>
                    <P>{{ update.content }}</P>
                </div>
            {% endfor %}

            <a class="btn btn-all-topics" href="{% url 'all-admin-updates' %}">See all updates</a>

        </div>
        <div class="col">
            <div class="row home-mid-row">
                <div class="col-1 col-sm-3 col-lg-6">
                </div>
                <div class="col home-welcome-container">
                    <div class="home-form-container">
                        {% block form-content %}
                        {% endblock form-content%}
                    </div>
                </div>
                <div class="col-1">
                </div>
            </div>
        </div>
    </div>
{% endblock content %}