{% extends "home/base.html" %}

<!-- style home background for this template -->
{% block additional_styles %}
    {% include 'home/snippets/home-styles.html' %}
{% endblock additional_styles %}

<!-- main block code -->
{% block content %}
    <div class="row m-0">
        <div class="d-none d-lg-block col-3 admin-updates-col-main">
            {% for update in updates %}
                <h3>{{ update.title }}</h3>
            {% endfor %}

            <h3>Add admin list view</h3>
        </div>
        <div class="col">
            <div class="row home-mid-row">
                <div class="col-1 col-sm-3 col-lg-6">
                </div>
                <div class="col home-welcome-container">
                    <div class="home-form-container">
                        {% block form-content %}
                        {% endblock form-content%}
                    </div>
                </div>
                <div class="col-1">
                </div>
            </div>
        </div>
    </div>
{% endblock content %}