{% extends "home/home-base.html" %}
{% load crispy_forms_tags %}

<!-- main block code -->
{% block form-content %}

        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-2 p-2 text-center">To access this site feature you must first Login</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-travel mb-2" type="submit">Sign In</button><br>
                <small class="p-font">
                    Forgot your password? <a class="ml-2" href="{% url 'password_reset' %}">Password Reset</a>
                </small><br><br>
            </div>
        </form>
        <div class="border-top pt-3 mb-3 text-center">
            <small class="p-font">
                Need An Account? <a class="ml-2" href="{% url 'home-register' %}">Sign Up</a>
            </small>
        </div>
{% endblock form-content %}