{% extends "home/base.html" %}
{% load crispy_forms_tags %}

<!-- main block code -->
{% block content %}

{% block additional_styles %}
    {% include 'home/snippets/home-backgound-styles.html' %}
{% endblock additional_styles %}

    <div class="bg-img center-form">
        <div class="form-layout register-form-width register-form-margin">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-2 p-2 text-center">Reset Password</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-travel mb-2" type="submit">Reset Password</button>
                    <br><br>
                </div>
            </form>
        </div>
    </div>
    <section class="content-under-home-header">
        {% include 'home/snippets/site-updates-insert.html' %}
    </section>
{% endblock content %}





<!-- 


    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-2 p-2 text-center">Reset Password</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-travel mb-2" type="submit">Reset Password</button>
            <br><br>
        </div>
    </form> -->
