{% extends "base.html" %}
{% load crispy_forms_tags %}

<!-- main block code -->
{% block content %}

{% block additional_styles %}
    {% include 'home/snippets/home-backgound-styles.html' %}
{% endblock additional_styles %}

    <div class="bg-img center-form">
        <div class="form-layout register-form-width register-form-margin">
            <fieldset class="form-group">
                <legend class="border-bottom mb-2 p-2 text-center">Email Sent</legend>
                    <p>
                        We've emailed you instructions for re-setting your password.
                    <p>
                        These instructions have been sent to the email address you just entered.
                        You should receive this email shortly.
                    </p>
                    <p>
                        If you do not receive this email, please check you have entered the address you registered on this website,
                        and check your spam folder.
                    </p>
                <br><br>
            </fieldset>
            <div class="border-top pt-3 mb-3 text-center">
                <small class="p-font">
                    Need to input your email again? <a class="ml-2" href="{% url 'password_reset' %}">Password Reset</a>
                </small>
            </div>
            <div class="border-top pt-3 mb-3 text-center">
                <small class="p-font">
                    Need An Account? <a class="ml-2" href="{% url 'home-register' %}">Sign Up</a>
                </small>
            </div>
        </div>
    </div>
    <section class="content-under-home-header">
        {% include 'home/snippets/site-updates-insert.html' %}
    </section>
{% endblock content %}