{% extends "home/home-base.html" %}
{% load crispy_forms_tags %}

<!-- main block code -->
{% block form-content %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-2 p-2 text-center">Password Updated</legend>
        <p class="text-center">Your password has not been updated.<br></p>
    </fieldset>
    <div class="border-top pt-3 mb-3 text-center">
        <small class="p-font">
            Go to login page: <a class="ml-2" href="{% url 'home-login' %}">Sign In Here</a>
        </small>
    </div>
{% endblock form-content %}