{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block additional_styles %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock additional_styles %}

{% block content %}
    <div class="bg-img center-form">
        <div class="form-layout register-form-width register-form-margin">
            <fieldset class="form-group">
                <legend class="border-bottom mb-2 p-2 text-center">Password Updated</legend>
                <p class="text-center">Your password has been updated successfully.<br></p>
            </fieldset>
            <div class="border-top pt-3 mb-3 text-center">
                <small class="p-font">
                    Go to login page: <a class="ml-2" href="{% url 'home-login' %}">Sign In Here</a>
                </small>
            </div>
        </div>
    </div>
    <section class="content-under-home-header">
        {% include 'home/snippets/site-updates-insert.html' %}
    </section>
{% endblock content %}








    <!-- <fieldset class="form-group">
        <legend class="border-bottom mb-2 p-2 text-center">Password Updated</legend>
        <p class="text-center">Your password has been updated.<br></p>
    </fieldset>
    <div class="border-top pt-3 mb-3 text-center">
        <small class="p-font">
            Go to login page: <a class="ml-2" href="{% url 'home-login' %}">Sign In Here</a>
        </small>
    </div> -->
