{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block additional_styles %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock additional_styles %}

{% block content %}
    <!-- password rest form -->
    <div class="bg-img center-form">
        <div class="form-layout register-form-width register-form-margin">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-2 p-2 text-center">Reset Password</legend>
                    <p>Enter your registered email:</p>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-travel mb-2" type="submit">Password Reset</button>
                    <br><br>
                </div>
            </form>
            <div class="border-top pt-3 mb-3 text-center">
                <small class="p-font">
                    Need An Account? <a class="ml-2" href="{% url 'home-register' %}" aria-label="link to register page">Sign Up</a>
                </small>
            </div>
        </div>
    </div>

    <!-- updates section -->
    <section class="content-under-home-header">
        {% include 'home/snippets/site-updates-insert.html' %}
    </section>
{% endblock content %}
