{% extends "home/home-base.html" %}
{% load crispy_forms_tags %}

<!-- main block code -->
{% block form-content %}

    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-2 p-2 text-center">Reset Password</legend>
            <p>Enter your registered email:</p>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-travel mb-2" type="submit">Password Reset</button>
            <br><br>
        </div>
    </form>
{% endblock form-content %}