{% extends "home/base.html" %}
{% load crispy_forms_tags %}


{% block content %}

    <div class="wrapper">
        <header>
            <img src="https://django-travel-app.s3.eu-west-2.amazonaws.com/images/parallax_hom_bg_cropped.png" class="background" alt="">
            <img src="https://django-travel-app.s3.eu-west-2.amazonaws.com/images/trees-cropped.png" class="foreground" alt="">
            <div class="form-layout">
                {% if user.is_authenticated %}
                    {% include 'home/snippets/already-logged-in.html' %}
                {% else %}
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-2 p-2 text-center">Register</legend>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-travel mb-2" type="submit">Sign Up</button>
                        </div>
                    </form>
                    <div class="border-top pt-3 mb-3 text-center">
                        <small class="p-font">
                            Already Have An Account? <a class="ml-2" href="{% url 'home-login' %}">Sign In</a>
                        </small>
                    </div>
                {% endif %}
            </div>
        </header>

        <section class="content-under-home-header">
            {% include 'home/snippets/site-updates-insert.html' %}
        </section>

{% endblock content %}