{% extends "home/home-base.html" %}
{% load crispy_forms_tags %}

<!-- main block code -->
{% block form-content %}

<style>
    /* UPDATE CRISPY FORM STYLING */
    #div_id_username, #div_id_email, #div_id_password1, #div_id_password2 {
        font-family: 'Merriweather', serif !important;
        color: rgb(6, 68, 103) !important;
        font-weight: 700;
    }

    #hint_id_username, #hint_id_password1, #hint_id_password2 {
        font-family: 'Merriweather', serif !important;
        color: rgb(6, 68, 103) !important;
        font-weight: 500;
    }
</style>

    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-2">Register</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Sign Up</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="#">Sign In</a>
        </small>
    </div>
{% endblock form-content%}