{% extends "home/base.html" %}

<!-- style home background for this template -->
{% block additional_styles %}
    {% include 'home/snippets/home-styles.html' %}
{% endblock additional_styles %}


<!-- main block code -->
{% block content %}

<style>

    .admin-updates-col-main {
        background-color: rgba(255, 255, 255, 0.5);
        height: calc(100vh - 80px);
        margin-top: 30px;
    }

    .home-top-row {
        height: 50vh;
    }
    .home-welcome-container {
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 0px 25px 0px 25px;
        color: rgb(6, 68, 103);
    }
    .home-form-container {
        background-color: grey;
    }
    .home-bottom-row {
        height: 60px;
    }
</style>

    <div class="row m-0">
        <div class="d-none d-lg-block col-3 admin-updates-col-main">
            <h3>Add admin list view</h3>
        </div>
    
        <div class="col">
            <div class="row home-top-row">
            </div>

            <div class="row home-mid-row">
                <div class="col-4">
                </div>
                <div class="col home-welcome-container">
                    <h1> Welcome</h1>
                    <h3>Sign Up to start your journey.</h3>
                    <div class="home-form-container">
                        <form method="POST">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4">Join Today</legend>
                                {{ form }}
                            </fieldset>
                            <div class="form-group">
                                <button class="btn btn-outline-info" type="submit">Sign Up</button>
                            </div>
                        </form>
                        <div class="border-top pt-3">
                            <small class="text-muted">
                                Already Have An Account? <a class="ml-2" href="#">Sign In</a>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-1">
                </div>
            </div>
            <div class="row home-bottom-row">
            </div>
        </div>
    </div>



{% endblock content %}