{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}

    <div class="wrapper">
        <header>
            <img src="https://django-travel-app.s3.eu-west-2.amazonaws.com/images/mountains-new.webp" class="background" alt="">
            <img src="https://django-travel-app.s3.eu-west-2.amazonaws.com/images/trees-cropped-mid.webp" class="foreground" alt="">

            <h1 class="home-title text-center">Welcome {{ user.username }}
                <br>
                Let your journey begin!
                <br>
                <i class="blink fa-solid fa-angle-down"></i>
        </header>
        <section class="content-under-home-header home-header-fade">
            <div class="row home-topic">
                <h3>Let us help you plan your adventure!</h3>
                <div class="col-12 col-md-6 col-lg-4 planner-info">
                    <h4>Map Destinations</h4>
                    <img class="home-img" src="https://django-travel-app.s3.eu-west-2.amazonaws.com/images/home/map-plan-pic.jpg" alt="">
                    <p>Use our planner map of Europe to select countries you wish to visit and markdown locations you have already visisted.</p>
                </div>
                <div class="col-12 col-md-6 col-lg-4 planner-info">
                    <h4>Plan Journeys</h4>
                    <img class="home-img" src="https://django-travel-app.s3.eu-west-2.amazonaws.com/images/home/to-do-pic.jpg" alt="">
                    <p>Use our to-do list to plan out your journey and activities.</p>
                </div>
                <div class="col-12 col-lg-4 planner-info">
                    <h4>Record Memories</h4>
                    <img class="home-img" src="https://django-travel-app.s3.eu-west-2.amazonaws.com/images/home/diary-pic.jpg" alt="">
                    <p>Our travel diary allows you to document your experiences.</p>
                </div>
                <div>
                    <a class="btn btn-site-planner" href="{% url 'country-map' %}">Planner</a>
                </div>
            </div>
            {% include 'home/snippets/site-updates-insert.html' %}
        </section>
    </div>

<script>
    $('.blink').each(function() {
    var elem = $(this);
    elem.fadeOut(1000)
        .fadeIn(1000)
        .fadeOut(1000)
        .fadeIn(1000)
        .fadeOut(1000)
        .fadeIn(1000)
});
</script>

{% endblock content %}