{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<style>
    body {
        background-color: #e9e4e4;
    }

    .profile-outer-border:before{
        background-image: url('https://django-travel-app.s3.eu-west-2.amazonaws.com/{{profile.background_img}}');
    }
</style>


    <div class="profile-outer-border">
        <div class="profile-section">
            <div class="profile-user-info-container">
                <img src="{{ profile.profile_img.url }}" alt="">
                <div class="profile-user-info">
                    <h5>{{ user.username }}</h5>
                    <p>{{ user.email }}</p>
                </div>
            </div>
            <div class="update-profile-button">
                <a class="btn" href="{% url 'update-profile-page' %}">Update</a>
            </div>
        </div>

        <div class="profile-section">
            <div class="profile-user-bio-container">
                <h5>Travel Objectives</h5>
                {% if profile.objectives %}
                    <p>{{ profile.objectives|linebreaksbr }}</p>
                {% else %}
                    <p>Currently you have no travel objectives set.</p>
                {% endif %}
            </div>
        </div>

        <div class="profile-section">
            <div class="profile-user-wish-container">
                <h5>Wish List</h5>

                {% if countries %}
                    {% for visit in countries %}
                        <ul>
                        {% if visit.status == "wish_list" %}
                            <li><a href="{% url 'country' visit.country.id %}">{{ visit.country.name }}</a></li>
                        {% endif %}
                        </ul>
                    {% endfor %}
                {% else %}
                    <p>Currently you have no countries on your wish list.</p>
                {% endif %}
            </div>
        </div>

    </div>

{% endblock %}