{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<style>

    body {
        background-color: white;
    }

</style>

<div class="diary-form-container">
    <div class="diary-form">
        <h1>Diary Post</h1>
    
        <div class="content-section">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn" type="submit">Submit Post</button>
                    <a class="btn btn-secondary" href="{{request.META.HTTP_REFERER|escape}}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock content %}