{% extends "base.html" %}

{% block content %}
    <!-- delete confirmation page -->
    <div class="delete-form-container">
        <div class="delete-form">
            <h1>Delete Post</h1>
            <div class="content-section">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <p>Are you sure you want to delete your diary post?</p>
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-danger" type="submit">Yes, Delete</button>
                        <a class="btn btn-secondary" href="{% url 'diary-all-posts' diary.country.id %}" aria-label="link back to diary posts page">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}