*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/***** SET ALL FONTS *****/
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Merriweather&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
}

a {
    font-family: 'Lora', serif;
}

p {
    font-family: 'Merriweather', serif;
}

#social-menu-header {
    font-size: 140%;
}

@media (max-width: 768px) {
    h1 {
        font-size: 300%;
    }
    h2 {
        font-size: 250%;
    }
    h3 {
        font-size: 200%;
    }
    h4 {
        font-size: 150%;
    }
    h5 {
        font-size: 140%;
    }
    h6 {
        font-size: 120%;
    }
    p {
        font-size: 120%;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 350%;
    }
    h2 {
        font-size: 300%;
    }
    h3 {
        font-size: 250%;
    }
    h4 {
        font-size: 200%;
    }
    h5 {
        font-size: 160%;
    }
    h6 {
        font-size: 140%;
    }
    p {
        font-size: 140%;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 400%;
    }
    h2 {
        font-size: 350%;
    }
    h3 {
        font-size: 300%;
    }
    h4 {
        font-size: 250%;
    }
    h5 {
        font-size: 200%;
    }
    h6 {
        font-size: 150%;
    }
    p {
        font-size: 150%;
    }
}


/***** ALL PAGES *****/
/* NAV BAR */
.offcanvas {
    background-color: rgb(6, 68, 103);
    color: rgb(255, 255, 255);
    z-index: 1500;
}

.offcanvas-backdrop {
    z-index: 100;
}

.navbar-toggler-icon {
    font-size: 20px;
    color: rgb(6, 68, 103);
    outline: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.container-fluid {
    background-color: rgb(202, 202, 202);
    height: 50px;
}

.nav-item {
    color: rgb(6, 68, 103);
    font-weight: bold;
    font-size: 140%;
}
.nav-item:hover {
    color: rgb(6, 2, 254);
    text-decoration: underline;
}

.fa-bars {
    color: rgb(6, 68, 103);
    font-size: 2rem;
}

.fa-circle-xmark {
    font-size: 2rem;
    cursor: pointer;
}

.navbar-toggler {
    border: none;
}
.social-title-container {
    display: none;
}
.social-icon-container {
    display: none;
}

/* NAV BAR SMALLER SCREEN */
@media (max-width: 990px) {
    .nav-item {
        color: white;
    }
    .nav-item:hover {
        color: white;
    }
    .top-box {
        height: calc(100vh - 81px);
    }
    .social-title-container {
        display: inline;
        height: 40px;
        width: 92%;
        margin-left: 4%;
    }
    .social-icon-container {
        display: flex;
        justify-content: center;
        height: 50px;
        margin-top: 3px;
    }
}

/* FOOTER SECTION */
.social-icons {
    font-size: xx-large;
}

#footer {
    position: fixed;
    height: 50px;
    background-color: rgb(72, 72, 72);
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.footer-icons {
    height: 100%;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/***** HOME / REGISTER FORM SECTION *****/

/* ADMIN UPDATES ON HOME SECTION */
    .updates-intro {
        background-color: rgba(255, 255, 255, .9);
        margin-top: 10px;
    }

    .update-container {
        background-color: rgba(255, 255, 255, .9);
        padding-left: 10px;
        padding-top: 10px;
        font-size: 70%;
        overflow-x: none;
        overflow-y: scroll;
        max-height: 200px;
        margin-top: 10px;
    }

    .update-container p, .update-container h4, .update-container h6, .updates-intro h4 {
        color: rgb(6, 68, 103);
    }

    .btn-all-topics {
        display: flex;
        justify-content: center;
        background-color: rgb(6, 68, 103);
        color: white;
        margin-top: 10px;
    }

    .btn-all-topics:hover {
        background-color: rgb(10, 104, 158);
        color: white;
        margin-top: 10px;
    }
    /* HOME-BASE SECTION */
    .social-icons {
        color: white;
    }

    .admin-updates-col-main {
        background-color: rgba(255, 255, 255, 0.5);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 25vw;
        margin-top: 50px;
    }

    .home-welcome-container {
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 0px 25px 0px 25px;
        color: rgb(6, 68, 103);
    }

    .home-mid-row {
        margin: 15vh 0 80px 0;
    }

    /* FORM STYLING */
    .p-font {
        font-family: 'Merriweather', serif;
        color: rgb(6, 68, 103);
    }

    .btn-travel {
        border: 2px solid rgb(6, 68, 103);
        background-color: white;
        font-family: 'Lora', serif;
        font-weight: 900;
        color: rgb(6, 68, 103);
    }
    .btn-travel:hover {
        border: 2px solid rgb(6, 68, 103);
        background-color: rgb(202, 202, 202);
    }

    /* UPDATE CRISPY FORM STYLING */
    #div_id_username, #div_id_email, #div_id_password1, #div_id_password2 {
        font-family: 'Merriweather', serif !important;
        color: rgb(6, 68, 103) !important;
        font-weight: 700;
    }

    #hint_id_username, #hint_id_password1, #hint_id_password2 {
        font-family: 'Merriweather', serif !important;
        color: rgb(6, 68, 103) !important;
        font-weight: 500;
    }



