{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}


    <div class="mt-5">
        <h1>To-Do Lists</h1>

        <ul>
        {% for list in lists %}
            <a href="{% url 'to-do-items' list.pk %}"><li> {{ list.title }} </li></a>
            <a href="{% url 'delete-list' list.pk %}">Delete</a>
            <a href="{% url 'edit-list' list.pk %}">Edit</a>
        {% endfor %}
        </ul>

        <form method="post">
            {% csrf_token %}
            {{ add_list_form|crispy }}
            <button type="submit">Add task</button>
        </form>
    </div>

{% endblock content %}