{% block already_logged_in %}
    <!-- if the user is already logged in and tries to access login they will see this -->
    <fieldset class="form-group">
        <legend class="border-bottom mb-2 p-2 text-center">You Are Logged In</legend>
        You are already logged on as {{ user.username }}.<br><br>
        If you wish to access another account please logout first.
    </fieldset>
    <div class="form-group">
        <br>
        <a href="{% url 'home-logout' %}" class="btn btn-travel mb-2" aria-label="select to logout">Logout</a>
    </div>
    <div class="border-top pt-3 mb-3 text-center">
        <small class="p-font">
            Want to update your profile? <a class="ml-2" href="{% url 'profile-page' %}">Profile</a>
        </small>
    </div>
{% endblock already_logged_in %}