
<style>


    .bg-img {
        background-image: url('https://django-travel-app.s3.eu-west-2.amazonaws.com/images/home/home_background_img_small.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
    }


    @media (max-width: 600px) {
            .bg-img {
                background: url('https://django-travel-app.s3.eu-west-2.amazonaws.com/images/home/mobile-bg-sea.jpg');
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

</style>

