{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    {% if tab_title %}
        <title>Travel App - {{ tab_title }}</title>
    {% else %}
        <title>Travel App</title>
    {% endif %}

    {% block additional_styles %}
    {% endblock additional_styles %}
</head>

<body>
        <section class="navigation">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid fixed-top header-grey">
                    <a class="navbar-brand" href="#"><i class="fa-solid fa-plane-departure"></i> LOGO</a>


                    <button class="navbar-toggler" href="#offcanvas" role="button" data-bs-toggle="offcanvas" aria-controls="offcanvas">
                        <!-- <span class="navbar-toggler-icon"></span> -->
                        <i class="fa-solid fa-bars"></i>
                    </button>


                    <div class="offcanvas offcanvas-end" data-bs-backdrop="true" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
                        <div class="top-box">
                            <div class="offcanvas-header">
                                <h3 class="offcanvas-title" id="offcanvas">Menu</h3>
                                <i data-bs-dismiss="offcanvas" class="fa-regular fa-circle-xmark"></i>
                            </div>
    
                            <div class="offcanvas-body">
                                <div class="navbar-nav mr-auto">
                                    <a class="nav-item nav-link px-lg-4" href="{% url 'travel-home' %}">Home</a>
                                    <a class="nav-item nav-link px-lg-4" href="{% url 'country-map' %}">Planner</a>
                                    <a class="nav-item nav-link px-lg-4" href="{% url 'all-admin-updates' %}">Site Updates</a>
                                    <hr>
                                </div>
                            <!-- Navbar Right Side -->

                                <div class="navbar-nav ms-auto">
                                    {% if user.is_authenticated %}
                                    <a class="nav-item nav-link px-lg-4" href="{% url 'profile-page' %}">Profile</a>
                                    <a class="nav-item nav-link px-lg-4" href="{% url 'home-logout' %}">Logout</a>
                                    {% else %}
                                    <a class="nav-item nav-link px-lg-4" href="{% url 'home-login' %}">Login</a>
                                    <a class="nav-item nav-link px-lg-4" href="{% url 'home-register' %}">Register</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="social-title-container hide-social-icons">
                            <p id="social-menu-header" class="m-1 text-center">Social</p>
                            <hr class="justify-content-evenly m-0 text-center">
                        </div>

                        <div class="social-icon-container hide-social-icons">
                            <div class="footer-icons"><a href="#"><i class="social-icons fa-brands fa-facebook"></i></a></div>
                            <div class="footer-icons"><a href="#"><i class="social-icons fa-brands fa-instagram"></i></a></div>
                            <div class="footer-icons"><a href="#"><i class="social-icons fa-brands fa-twitter"></i></a></div>
                            <div class="footer-icons"><a href="#"><i class="social-icons fa-brands fa-pinterest"></i></a></div>
                        </div>
                    </div>
                </div>
            </nav>
        </section>

        <main class="main-section">
            {% block content %}
            {% endblock %}
        </main>

        <section id="footer">
            <div class="h-100 d-flex justify-content-end">
                <div class="footer-icons"><a href="#"><i class="social-icons fa-brands fa-facebook"></i></a></div>
                <div class="footer-icons"><a href="#"><i class="social-icons fa-brands fa-instagram"></i></a></div>
                <div class="footer-icons"><a href="#"><i class="social-icons fa-brands fa-twitter"></i></a></div>
                <div class="footer-icons"><a href="#"><i class="social-icons fa-brands fa-pinterest"></i></a></div>
            </div>
        </section>


    <script src="https://kit.fontawesome.com/5c52ef23bc.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>